.channels__container {
  display: flex;
  flex-wrap: wrap;
}

.channel__container {
  flex: 1 1 100%;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  padding: var(--md-distance);
  background-color: var(--white);
  overflow: hidden;
}

@media only screen and (min-width: 946px) {
  /* ( 5px * 2 boxes * 2 sides - 10px for the outermost left and right ) * -50% = -5px  */
  .channel__container {
    flex: 1 1 calc(50% - 5px);
    max-width: calc(50% - 5px);
    width: calc(50% - 5px);
    margin: 10px 5px;
  }

  .channel__container:nth-of-type(odd) {
    margin-left: 0;
  }

  .channel__container:nth-of-type(even) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1281px) {
  /* ( 5px * 4 boxes * 2 sides - 10px for the outermost left and right ) * -25% = -7.5px  */
  .channel__container {
    flex: 1 1 calc(25% - 7.5px);
    max-width: calc(25% - 7.5px);
    width: calc(25% - 7.5px);
  }
  .channel__container:nth-of-type(odd) {
    margin-left: 5px;
  }
  .channel__container:nth-of-type(even) {
    margin-right: 5px;
  }
  .channel__container:nth-of-type(1),
  .channel__container:nth-of-type(4n + 1) {
    margin-left: 0;
  }
  .channel__container:nth-of-type(4n) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1681px) {
  /* ( 5px * 5 boxes * 2 sides - 10px for the outermost left and right ) * -20% = -8px  */
  .channel__container {
    flex: 1 1 calc(20% - 8px);
    max-width: calc(20% - 8px);
    width: calc(20% - 8px);
  }
  .channel__container:nth-of-type(1),
  .channel__container:nth-of-type(4n + 1) {
    margin-left: 5px;
  }
  .channel__container:nth-of-type(4n) {
    margin-right: 5px;
  }
  .channel__container:nth-of-type(1),
  .channel__container:nth-of-type(5n + 1) {
    margin-left: 0;
  }
  .channel__container:nth-of-type(5n) {
    margin-right: 0;
  }
}
