.button {
  position: relative;
  display: inline-block;
  height: 40px;
  width: auto;
  padding: 0 13px;
  line-height: 40px;
  color: var(--white);
  letter-spacing: 2px;
  border: 0;
  border-radius: var(--border-radius);
  overflow: hidden;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
}

.button--primary {
  background-color: var(--primary);
}

.button--primary:hover {
  background-color: var(--primary--light);
}
