.filter {
  background: var(--background);
}
.filter__input {
  height: 40px;
  width: 100%;
  padding: var(--md-distance);
  background-color: var(--white);
  border: var(--border);
  border-radius: var(--border-radius);
  outline: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.filter__input:focus,
.filter__input:hover {
  border-color: var(--dark-grey);
  box-shadow: var(--shadow);
}
