body {
  font-family: Roboto;
  font-size: var(--font-size);
  color: var(--color);
  background-color: var(--background);
}

div,
figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
